.Jogo {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.Jogo img {
    width: 400px;
}

.Jogo .right {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

.Jogo button {
    width: 200px;
    height: 60px;
    background-color: #27AE60;
    border-radius: 8px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
}

.Jogo span {
    font-size: 50px;
    margin: 3px;
    font-weight: 700;
}

.lose {
    color: #FF0000;
}

.win {
    color: #27AE60;
}